@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.content-wrapper {
  // max-height: 100%;
  // max-height: calc(100% - 210px);
  // height: calc(100% - 120px);
  // max-height: 500px;
  // height: 500px;
  @media only screen and (min-width: 1536px) {
    // max-height: calc(100% - 130px);
  }
}
.cookie-modal {
  // max-height: 80vh;
  height: 100%;
  // max-height: calc(100vh - 330px);
  @media only screen and (min-width: 480px) {
    // max-height: calc(100% - 330px);
  }
  @media only screen and (min-width: 1536px) {
    // max-height: calc(100% - 330px);
  }
}

input[type="checkbox"]:checked + .switch-holder > .dot {
  transform: translate(10px, -50%);
  background-color: #1d79f2;
  box-shadow: 0 2px 4px 0 rgba(29, 121, 242, 0.4);
}
.necessary-category {
  background-image: url("https://tojnhu4mvp.gjirafa.net/CMP/necessaryTick.svg");
  background-repeat: no-repeat;
  background-color: transparent !important;
  background-size: contain;
  background-position: center;
  z-index: 999;
}
.dot-wrapper input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 9;
}

.dot-wrapper .cc-btn {
  width: auto;
  border: 0;
  padding: 0;
}

// .categoryChecked{
//   transform: translateX(12px);
//   background-color: #1c79f2;
// }

input[type="checkbox"]:disabled {
  cursor: default;
  background-color: transparent !important;
  & > .switch-holder > .dot {
    pointer-events: none;
  }
}

//! spinner on loading
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #1c79f2;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
